.lds-ring {
  display: inline-block;
  position: relative;
  width: 126px;
  height: 126px;
  top:145px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 120;
  height: 120px;
  margin: 8px;
  border: 8px solid #FE3264;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #FE3264 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.CloudLeft{
  position: absolute;
  top:287;
  left:278;

  width:694px;
  height:122px;
  background-image: url('../../asset/img/cloud_2.png');
  background-position-x:left;
  display: inline-block;
  animation: float-left 4s ease-in-out infinite;
}
.CloudRight{
  position: absolute;
  top:287;
  right:255;
  
  width:694px;
  height:122px;
  background-image: url('../../asset/img/cloud_2.png');
  background-position-x:right;
  display: inline-block;
   animation: float-right 4s ease-in-out infinite;
}

@keyframes float-left {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-50px);
  }
}

@keyframes float-right {
  0% {
    transform: translateX(-50px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-50px);
  }
}

.CloudLeft.Title{
  top:84;
  left:351;

  width:624px;
  height:111px;
  background-image: url('../../asset/img/cloud_3.png');  
}
.CloudRight.Title{
  top:84;
  right:320;
  
  width:624px;
  height:111px;
  background-image: url('../../asset/img/cloud_3.png');
  
}

.CloudLeft.Finish{
  top:329;
  left:162;

  width:803px;
  height:201px;
  background-image: url('../../asset/img/cloud_6.png');  
}
.CloudRight.Finish{
  top:329;
  right:152;
  
  width:803px;
  height:201px;
  background-image: url('../../asset/img/cloud_6.png');
  
}